<head>
  <!-- bootstrap css -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <script src="../js/config.js"></script>
</head>
<section class="vh-100" style="background-color: #d15d34;">
    {{{body}}}
</section>