<head>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/home.css">
    <script src="../js/home.js"></script>
     <script src="../js/config.js"></script>
</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        OSU Discover
                    </a>
                </li>
                <li>
                    <a href="/myAccount">My Account</a>
                </li>
                <li>
                    <a href="/home">Dashboard</a>
                </li>
                <li>
                    <a href="/newLocation">Create Location</a>
                </li>
                <li>
                    <a href="/visitedLocation">Visited Locations</a>
                </li>
                <li>
                    <a href="#" onclick="comingSoon();">Tags</a>
                </li>
                <li style="margin-top: 50px;">
                    <a href="#" onclick="logout();">Log out</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {{{body}}}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>