<script src="../js/main.js"></script>
<h1 id="title">Hello User!</h1>
<h3>Hopefully you will see stuff here, data, dashboards, etc.</h3>
<h4>Click on "My account" to update your info</h4>

<div class="d-flex align-items-center pb-5" style="margin-top: 50px;">
    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
    <span class="h3 fw-bold mb-0">Top 10 explorers</span>
    <h5>Users who have visited the most locations</h5>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#Position</th>
                <th scope="col">Username</th>
                <th scope="col">Locations Visited</th>
            </tr>
        </thead>
        <tbody id="myTable">
        </tbody>
    </table>
</div>